@model Ecommerce.Entity.Order

@{
    ViewBag.Title = "Purchase";
    var orderDetails = ViewBag.OrderDetails as IList<OrderDetail>;
}

@section styles{
    <link href="~/Content/App/Ecommerce.css" rel="stylesheet" />
}

<div class="form-Modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewBag.Title</h4>
            <div class="btn-group btn-group-xs" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <a href="javascript://" onclick="" class="btn btn-danger forceRedirect"><i class="fa fa-trash"></i> Delete</a>
                <a href="/Ecommerce/Order/InventoryPurchase" class="btn btn-primary"><i class="fa fa-plus"></i> Create New PO</a>
            </div>
        </div>
        <div class="row" style="margin:15px 0">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li><a href="javascript://" id="" class="btn btn-default" style="padding:6px 20px;"> New Orders</a></li>
                    <li><a href="javascript://" class="btn btn-default" style="padding:6px 20px;"> Dispatched Orders</a></li>
                    <li><a href="javascript://" class="btn btn-default" style="padding:6px 20px;"> Cancelled Orders</a></li>
                    <li><a href="javascript://" class="btn btn-default" style="padding:6px 20px;"> Pending</a></li>
                    <li><a href="javascript://" class="btn btn-default" style="padding:6px 20px;"> All</a></li>
                </ul>
            </div>
        </div>
        <div class="modal-body modal-pading">
            <div class="table-responsive">
                <table id="Purchase-dataTable" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th><input type="checkbox" onchange="checkAll(this, 'checkIt')" /></th>
                            <th width="50px"><input class="form-control input-sm input-tbl" type="text" placeholder="PO ID" id="dataTable_0" /></th>
                            <th width="140px;"><input class="form-control input-sm input-tbl" type="text" placeholder="Product Details" id="dataTable_1" /></th>
                            <th width="100px;"><input class="form-control input-sm input-tbl" type="text" placeholder="Buyer Details" id="dataTable_2" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Purchase Price" id="dataTable_3" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Qty" id="dataTable_4" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Total" id="dataTable_5" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="PO Date" id="dataTable_6" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="PO Status" id="dataTable_7" /></th>
                            <th class="text-center" width="70px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in ViewBag.POList as IList<Order>)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="checkIt" value="@x.OrderId" />
                                </td>
                                <td>
                                    @x.OrderId
                                    @*@if (orders.GetSaleOrderDetail(x.OrderId).ToList().Count() > 1)
                                        {
                                            <ul class="mutiItem list-group">
                                                @foreach (var item in orders.GetSaleOrderDetail(x.OrderId).ToList())
                                                {
                                                    <li class="list-group-item">
                                                        @(x.OrderId)-@(item.ProductId)
                                                    </li>
                                                }
                                            </ul>
                                        }*@
                                </td>
                                <td>
                                    @if (orderDetails.Where(y => y.OrderId == x.OrderId).ToList().Count() > 1)
                                    {
                                        <ul class="mutiItem list-group">
                                            @foreach (var item in orderDetails.Where(y => y.OrderId == x.OrderId).ToList())
                                            {
                                                <li class="list-group-item">
                                                    <div class="imgDiv">
                                                        <img id="img-Preview" src="~/Content/Uploads/Ecommerce/p_@(item.ProductId).jpg" class="img-responsive grid-img" onerror="this.onerror = null; this.src = '/Content/Images/img.png';" />
                                                        @item.Sku
                                                    </div>
                                                    <small class="text-primary"><a href="#">@item.Description </a></small>
                                                    <div class="clearfix"></div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        foreach (var item in orderDetails.Where(y => y.OrderId == x.OrderId).ToList())
                                        {
                                            <div class="imgDiv">
                                                <img id="img-Preview" src="~/Content/Uploads/Ecommerce/p_@(item.ProductId).jpg" class="img-responsive grid-img" onerror="this.onerror = null; this.src = '/Content/Images/img.png';" />
                                                @item.Sku
                                            </div>
                                            <small class="text-primary"><a href="#">@item.Description </a></small>
                                        }
                                    }
                                </td>
                                <td>
                                    <span class="text-primary"><a href="javascript://">@x.ContactTitle</a></span> <br />
                                    <span class="text-primary">Acct Type </span> <br />
                                    @if (x.IsDropShipper)
                                    { <text> Dropshipper</text>}
                                    else if (x.IsTrader)
                                    { <text> Trader </text>}
                                </td>
                                <td>
                                    @if (orderDetails.Where(y => y.OrderId == x.OrderId).ToList().Count() > 1)
                                    {
                                        <ul class="mutiItem list-group">
                                            @foreach (var item in orderDetails.Where(y => y.OrderId == x.OrderId).ToList())
                                            {
                                                <li class="list-group-item">
                                                    @AppSettings.GetVal("CurrencySymbol") @item.Price
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        foreach (var item in orderDetails.Where(y => y.OrderId == x.OrderId).ToList())
                                        {
                                            @AppSettings.GetVal("CurrencySymbol") @item.Price
                                        }
                                    }

                                </td>
                                <td>
                                    @if (orderDetails.Where(y => y.OrderId == x.OrderId).ToList().Count() > 1)
                                    {
                                        <ul class="mutiItem list-group">
                                            @foreach (var item in orderDetails.Where(y => y.OrderId == x.OrderId).ToList())
                                            {
                                                <li class="list-group-item">
                                                    @item.Quantity
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        foreach (var item in orderDetails.Where(y => y.OrderId == x.OrderId).ToList())
                                        {
                                            @item.Quantity
                                        }
                                    }
                                </td>

                                <td>
                                    @AppSettings.GetVal("CurrencySymbol") @x.OrderTotal

                                </td>
                                <td>
                                    @x.DateTime.ToString("dd/MM/yyyy hh:mm tt")
                                </td>
                                <td>
                                    @x.OrderStatus
                                </td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group">
                                        <a href="/Ecommerce/Order/SaleOrderDetail/@x.OrderId" class="btn btn-primary" title="View"><i class="fa fa-share"></i></a>
                                        <a href="javascript://" onclick="' + deleteRecordData + '" class="btn btn-danger" title="Cancel"><i class="fa fa-times"></i></a>
                                        <div class="dropdown pull-left">
                                            <a role="button" data-toggle="dropdown" class="dropdown-toggle btn btn-primary btn-xs" href="#">
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu gridDropdown">
                                                <li><a href="javascript://">Print Postage labels/Invoices</a></li>
                                                <li><a href="javascript://">View & Process Order</a></li>
                                                <li><a href="javascript://">Mark as Dispatched</a></li>
                                                <li><a href="javascript://">Add Tracking Details</a></li>
                                                <li><a href="javascript://">Update Postage Package</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <a href="javascript://" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiplePages")', '.checkIt')" class="btn btn-danger forceRedirect"><i class="fa fa-trash"></i> Delete</a>
                <a href="/Ecommerce/Order/InventoryPurchase" class="btn btn-primary"><i class="fa fa-plus"></i> Add New PO</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            filterDataTable("#Purchase-dataTable", [1,2,3,4,5,6,7,8], [0,9]);
            //getProducts("#Purchase-dataTable");
        });
    </script>
}

