
<div class="row" style="margin-top:12px;">
    <form id="frm" class="form-Modal" method="post" action="~/Secure/Office/Record">
        @Html.AntiForgeryToken()
        <div class="col-sm-12">
            <div class="col-md-12 text-right">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-xs btn-group-xs btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                    <button type="submit" class="btn btn-xs btn-group-xs btn-success"><i class="fa fa-check"></i> Submit</button>
                </div>
            </div>
            <div class="form-group col-md-12" style="display:none;">
                <label><strong>Parent</strong></label>
                <select name="ParentId" id="parentId" class="form-control input-sm">
                    <option value="">-No Parent-</option>
                </select>
            </div>
            <div class="form-group col-md-12" style="display:none">
                <label><strong>Office Type</strong></label>
                <input type="text" name="OfficeType" id="OfficeType" value="" />
            </div>
            <div class="form-group col-md-12">
                <label><strong>Title</strong></label>
                <input name="Title" id="Title" type="text" class="form-control input-sm" value="" required autofocus />
            </div>
            <div class="form-group col-md-12">
                <label><strong>Manager</strong></label>
                <select id="select-ManagedBy" name="ContactId" class="demo-default col-sm-11 col-xs-11 no-padding" required placeholder="Type employees name">
                    <option value="">Type employees name to assign</option>
                    @foreach (var x in ViewBag.AllManagers as IList<BaseApp.Entity.AppUser>)
                    {
                        <option value="@x.Id">@x.FullName</option>
                    }
                </select>
                <a href="javascript://" class="col-sm-1 col-xs-1 crmsearch" title="Search and add more" style="margin-top:3px;"><i class="fa fa-search fa-2x"></i></a>
                <div class="clearfix"></div>
                <div id="crm-box-panel" class="advance-search-box" style="display:none;"><div id="loading-mask-inner" align="center" style="margin: 12% 0;"><img src="~/Content/Images/loader.gif" style="height:60px;" alt="Loading" /></div></div>
            </div>
            <div class="col-md-12">
                <h4 class="form-group panel panel-heading" style="background-color: #8c90ae; color: #fefefe;">
                   <i class="fa fa-globe"></i> Location
                    <span class="pull-right" style="font-size:12px;"><label> <input id="sameHeadOfficeAddress" type="checkbox" /> Use Parent Office Address</label></span>
                </h4>
            </div>
            
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label><strong>Country</strong></label>
                    <input name="Country" id="Country" type="text" class="form-control input-sm" value="" required />
                </div>
                <div class="form-group col-md-6">
                    <label><strong>State</strong></label>
                    <input name="State" id="State" type="text" class="form-control input-sm" value="" required />
                </div>
                <div class="form-group col-md-6">
                    <label><strong>City</strong></label>
                    <input name="City" id="City" type="text" class="form-control input-sm" value="" required />
                </div>
                <div class="form-group col-md-6">
                    <label><strong>Zip Code</strong></label>
                    <input name="ZipCode" id="ZipCode" type="text" class="form-control input-sm" value="" required />
                </div>
                <div class="form-group col-md-6">
                    <label><strong>Address Line 1</strong></label>
                    <input name="AddressLine1" id="AddressLine1" class="form-control input-sm" value="" required />
                </div>
                <div class="form-group col-md-6">
                    <label><strong>Address Line 2</strong></label>
                    <input name="AddressLine2" id="AddressLine2" class="form-control input-sm" value="" required />
                </div>
            </div>

            <div class="form-group col-md-6">
                <label><strong>Phone No.</strong></label>
                <input name="PhoneNumber" id="PhoneNumber" class="form-control input-sm" value="" required />
            </div>
            <div class="form-group col-md-6">
                <label><strong>Fax</strong></label>
                <input name="FaxNumber" id="FaxNumber" class="form-control input-sm" value="" required />
            </div>
            <div class="form-group col-md-6">
                <label><strong>Currency</strong></label>
                <select name="Currency" class="form-control input-sm" required>
                    @foreach (var x in Html.CurrenciesList())
                    {
                        <option value="@x.Value">@x.Value - @x.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label><strong>Time Zone</strong></label>
                <select name="TimeZone" class="form-control input-sm" required>
                    <option timezoneid="1" gmtadjustment="GMT-12:00" usedaylighttime="0" value="-12_(GMT-12:00) International Date Line West">(GMT-12:00) International Date Line West</option>
                    <option timezoneid="2" gmtadjustment="GMT-11:00" usedaylighttime="0" value="-11_(GMT-11:00) Midway Island, Samoa">(GMT-11:00) Midway Island, Samoa</option>
                    <option timezoneid="3" gmtadjustment="GMT-10:00" usedaylighttime="0" value="-10_(GMT-10:00) Hawaii">(GMT-10:00) Hawaii</option>
                    <option timezoneid="4" gmtadjustment="GMT-09:00" usedaylighttime="1" value="-9_(GMT-09:00) Alaska">(GMT-09:00) Alaska</option>
                    <option timezoneid="5" gmtadjustment="GMT-08:00" usedaylighttime="1" value="-8_(GMT-08:00) Pacific Time (US & Canada)">(GMT-08:00) Pacific Time (US & Canada)</option>
                    <option timezoneid="6" gmtadjustment="GMT-08:00" usedaylighttime="1" value="-8_(GMT-08:00) Tijuana, Baja California">(GMT-08:00) Tijuana, Baja California</option>
                    <option timezoneid="7" gmtadjustment="GMT-07:00" usedaylighttime="0" value="-7_(GMT-07:00) Arizona">(GMT-07:00) Arizona</option>
                    <option timezoneid="8" gmtadjustment="GMT-07:00" usedaylighttime="1" value="-7_(GMT-07:00) Chihuahua, La Paz, Mazatlan">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                    <option timezoneid="9" gmtadjustment="GMT-07:00" usedaylighttime="1" value="-7_(GMT-07:00) Mountain Time (US & Canada)">(GMT-07:00) Mountain Time (US & Canada)</option>
                    <option timezoneid="10" gmtadjustment="GMT-06:00" usedaylighttime="0" value="-6_(GMT-06:00) Central America">(GMT-06:00) Central America</option>
                    <option timezoneid="11" gmtadjustment="GMT-06:00" usedaylighttime="1" value="-6_(GMT-06:00) Central Time (US & Canada)">(GMT-06:00) Central Time (US & Canada)</option>
                    <option timezoneid="12" gmtadjustment="GMT-06:00" usedaylighttime="1" value="-6_(GMT-06:00) Guadalajara, Mexico City, Monterrey">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                    <option timezoneid="13" gmtadjustment="GMT-06:00" usedaylighttime="0" value="-6_(GMT-06:00) Saskatchewan">(GMT-06:00) Saskatchewan</option>
                    <option timezoneid="14" gmtadjustment="GMT-05:00" usedaylighttime="0" value="-5_(GMT-05:00) Bogota, Lima, Quito, Rio Branco">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                    <option timezoneid="15" gmtadjustment="GMT-05:00" usedaylighttime="1" value="-5_(GMT-05:00) Eastern Time (US & Canada)">(GMT-05:00) Eastern Time (US & Canada)</option>
                    <option timezoneid="16" gmtadjustment="GMT-05:00" usedaylighttime="1" value="-5_(GMT-05:00) Indiana (East)">(GMT-05:00) Indiana (East)</option>
                    <option timezoneid="17" gmtadjustment="GMT-04:00" usedaylighttime="1" value="-4_(GMT-04:00) Atlantic Time (Canada)">(GMT-04:00) Atlantic Time (Canada)</option>
                    <option timezoneid="18" gmtadjustment="GMT-04:00" usedaylighttime="0" value="-4_(GMT-04:00) Caracas, La Paz">(GMT-04:00) Caracas, La Paz</option>
                    <option timezoneid="19" gmtadjustment="GMT-04:00" usedaylighttime="0" value="-4_(GMT-04:00) Manaus">(GMT-04:00) Manaus</option>
                    <option timezoneid="20" gmtadjustment="GMT-04:00" usedaylighttime="1" value="-4_(GMT-04:00) Santiago">(GMT-04:00) Santiago</option>
                    <option timezoneid="21" gmtadjustment="GMT-03:30" usedaylighttime="1" value="-3.5_(GMT-03:30) Newfoundland">(GMT-03:30) Newfoundland</option>
                    <option timezoneid="22" gmtadjustment="GMT-03:00" usedaylighttime="1" value="-3_(GMT-03:00) Brasilia">(GMT-03:00) Brasilia</option>
                    <option timezoneid="23" gmtadjustment="GMT-03:00" usedaylighttime="0" value="-3_(GMT-03:00) Buenos Aires, Georgetown">(GMT-03:00) Buenos Aires, Georgetown</option>
                    <option timezoneid="24" gmtadjustment="GMT-03:00" usedaylighttime="1" value="-3_(GMT-03:00) Greenland">(GMT-03:00) Greenland</option>
                    <option timezoneid="25" gmtadjustment="GMT-03:00" usedaylighttime="1" value="-3_(GMT-03:00) Montevideo">(GMT-03:00) Montevideo</option>
                    <option timezoneid="26" gmtadjustment="GMT-02:00" usedaylighttime="1" value="-2_(GMT-02:00) Mid-Atlantic">(GMT-02:00) Mid-Atlantic</option>
                    <option timezoneid="27" gmtadjustment="GMT-01:00" usedaylighttime="0" value="-1_(GMT-01:00) Cape Verde Is.">(GMT-01:00) Cape Verde Is.</option>
                    <option timezoneid="28" gmtadjustment="GMT-01:00" usedaylighttime="1" value="-1_(GMT-01:00) Azores">(GMT-01:00) Azores</option>
                    <option timezoneid="29" gmtadjustment="GMT+00:00" usedaylighttime="0" value="0_(GMT+00:00) Casablanca, Monrovia, Reykjavik">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                    <option timezoneid="30" gmtadjustment="GMT+00:00" usedaylighttime="1" value="0_(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                    <option timezoneid="31" gmtadjustment="GMT+01:00" usedaylighttime="1" value="1_(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                    <option timezoneid="32" gmtadjustment="GMT+01:00" usedaylighttime="1" value="1_(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                    <option timezoneid="33" gmtadjustment="GMT+01:00" usedaylighttime="1" value="1_(GMT+01:00) Brussels, Copenhagen, Madrid, Paris">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                    <option timezoneid="34" gmtadjustment="GMT+01:00" usedaylighttime="1" value="1_(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                    <option timezoneid="35" gmtadjustment="GMT+01:00" usedaylighttime="1" value="1_(GMT+01:00) West Central Africa">(GMT+01:00) West Central Africa</option>
                    <option timezoneid="36" gmtadjustment="GMT+02:00" usedaylighttime="1" value="2_(GMT+02:00) Amman">(GMT+02:00) Amman</option>
                    <option timezoneid="37" gmtadjustment="GMT+02:00" usedaylighttime="1" value="2_(GMT+02:00) Athens, Bucharest, Istanbul">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                    <option timezoneid="38" gmtadjustment="GMT+02:00" usedaylighttime="1" value="2_(GMT+02:00) Beirut">(GMT+02:00) Beirut</option>
                    <option timezoneid="39" gmtadjustment="GMT+02:00" usedaylighttime="1" value="2_(GMT+02:00) Cairo">(GMT+02:00) Cairo</option>
                    <option timezoneid="40" gmtadjustment="GMT+02:00" usedaylighttime="0" value="2_(GMT+02:00) Harare, Pretoria">(GMT+02:00) Harare, Pretoria</option>
                    <option timezoneid="41" gmtadjustment="GMT+02:00" usedaylighttime="1" value="2_(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                    <option timezoneid="42" gmtadjustment="GMT+02:00" usedaylighttime="1" value="2_(GMT+02:00) Jerusalem">(GMT+02:00) Jerusalem</option>
                    <option timezoneid="43" gmtadjustment="GMT+02:00" usedaylighttime="1" value="2_(GMT+02:00) Minsk">(GMT+02:00) Minsk</option>
                    <option timezoneid="44" gmtadjustment="GMT+02:00" usedaylighttime="1" value="2_(GMT+02:00) Windhoek">(GMT+02:00) Windhoek</option>
                    <option timezoneid="45" gmtadjustment="GMT+03:00" usedaylighttime="0" value="3_(GMT+03:00) Kuwait, Riyadh, Baghdad">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                    <option timezoneid="46" gmtadjustment="GMT+03:00" usedaylighttime="1" value="3_(GMT+03:00) Moscow, St. Petersburg, Volgograd">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                    <option timezoneid="47" gmtadjustment="GMT+03:00" usedaylighttime="0" value="3_(GMT+03:00) Nairobi" >(GMT+03:00) Nairobi</option>
                    <option timezoneid="48" gmtadjustment="GMT+03:00" usedaylighttime="0" value="3_(GMT+03:00) Tbilisi">(GMT+03:00) Tbilisi</option>
                    <option timezoneid="49" gmtadjustment="GMT+03:30" usedaylighttime="1" value="3.5_(GMT+03:30) Tehran">(GMT+03:30) Tehran</option>
                    <option timezoneid="50" gmtadjustment="GMT+04:00" usedaylighttime="0" value="4_(GMT+04:00) Abu Dhabi, Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
                    <option timezoneid="51" gmtadjustment="GMT+04:00" usedaylighttime="1" value="4_(GMT+04:00) Baku">(GMT+04:00) Baku</option>
                    <option timezoneid="52" gmtadjustment="GMT+04:00" usedaylighttime="1" value="4_(GMT+04:00) Yerevan">(GMT+04:00) Yerevan</option>
                    <option timezoneid="53" gmtadjustment="GMT+04:30" usedaylighttime="0" value="4.5_(GMT+04:30) Kabul">(GMT+04:30) Kabul</option>
                    <option timezoneid="54" gmtadjustment="GMT+05:00" usedaylighttime="1" value="5_(GMT+05:00) Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
                    <option timezoneid="55" gmtadjustment="GMT+05:00" usedaylighttime="0" value="5_(GMT+05:00) Islamabad, Karachi, Tashkent">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                    <option timezoneid="56" gmtadjustment="GMT+05:30" usedaylighttime="0" value="5.5_(GMT+05:30) Sri Jayawardenapura">(GMT+05:30) Sri Jayawardenapura</option>
                    <option timezoneid="57" gmtadjustment="GMT+05:30" usedaylighttime="0" value="5.5_(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                    <option timezoneid="58" gmtadjustment="GMT+05:45" usedaylighttime="0" value="5.75_(GMT+05:45) Kathmandu">(GMT+05:45) Kathmandu</option>
                    <option timezoneid="59" gmtadjustment="GMT+06:00" usedaylighttime="1" value="6_(GMT+06:00) Almaty, Novosibirsk">(GMT+06:00) Almaty, Novosibirsk</option>
                    <option timezoneid="60" gmtadjustment="GMT+06:00" usedaylighttime="0" value="6_(GMT+06:00) Astana, Dhaka">(GMT+06:00) Astana, Dhaka</option>
                    @*<option timezoneid="61" gmtadjustment="GMT+06:30" usedaylighttime="0" value="6.5_(GMT+06:30) Yangon (Rangoon)" @(Model.FullTimeZone == "6.5_(GMT+06:30) Yangon (Rangoon)" ? "selected" : "")>(GMT+06:30) Yangon (Rangoon)</option>
                    <option timezoneid="62" gmtadjustment="GMT+07:00" usedaylighttime="0" value="7_(GMT+07:00) Bangkok, Hanoi, Jakarta" @(Model.FullTimeZone == "7_(GMT+07:00) Bangkok, Hanoi, Jakarta" ? "selected" : "")>(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                    <option timezoneid="63" gmtadjustment="GMT+07:00" usedaylighttime="1" value="7_(GMT+07:00) Krasnoyarsk" @(Model.FullTimeZone == "7_(GMT+07:00) Krasnoyarsk" ? "selected" : "")>(GMT+07:00) Krasnoyarsk</option>
                    <option timezoneid="64" gmtadjustment="GMT+08:00" usedaylighttime="0" value="8_(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi" @(Model.FullTimeZone == "8_(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi" ? "selected" : "")>(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                    <option timezoneid="65" gmtadjustment="GMT+08:00" usedaylighttime="0" value="8_(GMT+08:00) Kuala Lumpur, Singapore" @(Model.FullTimeZone == "8_(GMT+08:00) Kuala Lumpur, Singapore" ? "selected" : "")>(GMT+08:00) Kuala Lumpur, Singapore</option>
                    <option timezoneid="66" gmtadjustment="GMT+08:00" usedaylighttime="0" value="8_(GMT+08:00) Irkutsk, Ulaan Bataar" @(Model.FullTimeZone == "8_(GMT+08:00) Irkutsk, Ulaan Bataar" ? "selected" : "")>(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                    <option timezoneid="67" gmtadjustment="GMT+08:00" usedaylighttime="0" value="8_(GMT+08:00) Perth" @(Model.FullTimeZone == "8_(GMT+08:00) Perth" ? "selected" : "")>(GMT+08:00) Perth</option>
                    <option timezoneid="68" gmtadjustment="GMT+08:00" usedaylighttime="0" value="8_(GMT+08:00) Taipei" @(Model.FullTimeZone == "8_(GMT+08:00) Taipei" ? "selected" : "")>(GMT+08:00) Taipei</option>
                    <option timezoneid="69" gmtadjustment="GMT+09:00" usedaylighttime="0" value="9_(GMT+09:00) Osaka, Sapporo, Tokyo" @(Model.FullTimeZone == "9_(GMT+09:00) Osaka, Sapporo, Tokyo" ? "selected" : "")>(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                    <option timezoneid="70" gmtadjustment="GMT+09:00" usedaylighttime="0" value="9_(GMT+09:00) Seoul" @(Model.FullTimeZone == "9_(GMT+09:00) Seoul" ? "selected" : "")>(GMT+09:00) Seoul</option>
                    <option timezoneid="71" gmtadjustment="GMT+09:00" usedaylighttime="1" value="9_(GMT+09:00) Yakutsk" @(Model.FullTimeZone == "9_(GMT+09:00) Yakutsk" ? "selected" : "")>(GMT+09:00) Yakutsk</option>
                    <option timezoneid="72" gmtadjustment="GMT+09:30" usedaylighttime="0" value="9.5_(GMT+09:30) Adelaide" @(Model.FullTimeZone == "9.5_(GMT+09:30) Adelaide" ? "selected" : "")>(GMT+09:30) Adelaide</option>
                    <option timezoneid="73" gmtadjustment="GMT+09:30" usedaylighttime="0" value="9.5_(GMT+09:30) Darwin" @(Model.FullTimeZone == "9.5_(GMT+09:30) Darwin" ? "selected" : "")>(GMT+09:30) Darwin</option>
                    <option timezoneid="74" gmtadjustment="GMT+10:00" usedaylighttime="0" value="10_(GMT+10:00) Brisbane" @(Model.FullTimeZone == "10_(GMT+10:00) Brisbane" ? "selected" : "")>(GMT+10:00) Brisbane</option>
                    <option timezoneid="75" gmtadjustment="GMT+10:00" usedaylighttime="1" value="10_(GMT+10:00) Canberra, Melbourne, Sydney" @(Model.FullTimeZone == "10_(GMT+10:00) Canberra, Melbourne, Sydney" ? "selected" : "")>(GMT+10:00) Canberra, Melbourne, Sydney</option>
                    <option timezoneid="76" gmtadjustment="GMT+10:00" usedaylighttime="1" value="10_(GMT+10:00) Hobart" @(Model.FullTimeZone == "10_(GMT+10:00) Hobart" ? "selected" : "")>(GMT+10:00) Hobart</option>
                    <option timezoneid="77" gmtadjustment="GMT+10:00" usedaylighttime="0" value="10_(GMT+10:00) Guam, Port Moresby" @(Model.FullTimeZone == "10_(GMT+10:00) Guam, Port Moresby" ? "selected" : "")>(GMT+10:00) Guam, Port Moresby</option>
                    <option timezoneid="78" gmtadjustment="GMT+10:00" usedaylighttime="1" value="10_(GMT+10:00) Vladivostok" @(Model.FullTimeZone == "10_(GMT+10:00) Vladivostok" ? "selected" : "")>(GMT+10:00) Vladivostok</option>
                    <option timezoneid="79" gmtadjustment="GMT+11:00" usedaylighttime="1" value="11_(GMT+11:00) Magadan, Solomon Is., New Caledonia" @(Model.FullTimeZone == "11_(GMT+11:00) Magadan, Solomon Is., New Caledonia" ? "selected" : "")>(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                    <option timezoneid="80" gmtadjustment="GMT+12:00" usedaylighttime="1" value="12_(GMT+12:00) Auckland, Wellington" @(Model.FullTimeZone == "12_(GMT+12:00) Auckland, Wellington" ? "selected" : "")>(GMT+12:00) Auckland, Wellington</option>
                    <option timezoneid="81" gmtadjustment="GMT+12:00" usedaylighttime="0" value="12_(GMT+12:00) Fiji, Kamchatka, Marshall Is." @(Model.FullTimeZone == "12_(GMT+12:00) Fiji, Kamchatka, Marshall Is." ? "selected" : "")>(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                    <option timezoneid="82" gmtadjustment="GMT+13:00" usedaylighttime="0" value="13_(GMT+13:00) Nuku'alofa" @(Model.FullTimeZone == "13_(GMT+13:00) Nuku'alofa" ? "selected" : "")>(GMT+13:00) Nuku'alofa</option>*@
                </select>
            </div>
            <div class="form-group col-md-12">
                <label><strong>Description</strong></label>
                <textarea name="Description" class="form-control input-sm" style="height:93px;"></textarea>
            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Content/SelectJS/js/selectize.js"></script>
<script src="~/Content/SelectJS/js/index.js"></script>
<script src="~/Content/JsTree/assets/jquery.address-1.6.js"></script>
<script src="~/Content/JsTree/assets/vakata.js"></script>
<script src="~/Content/JsTree/assets/dist/jstree.min.js"></script>
<script src="~/Content/JsTree/assets/docs.js"></script>
<script>$.each($q, function (i, f) { $(f) }); $q = null;</script>
<script>
    $(function () {
        function SuggestedBox() {
            $('#suggested-box').toggle(300, function () {
                $.get("/Secure/TaskManagement/_SuggestedList", function (d) {
                    $('#browse-box').hide();
                    $('#suggested-box').html(d);
                    filterDataTable("#tasks-dataTable", [0, 1, 2, 3, 4]);
                });
            });
        }
        $('.crmsearch').on('click', function () {
            $('#crm-box-panel').toggle(300, function () {
                $('#loading-mask-inner').show();
                $.get("/Secure/TaskManagement/_EmployeesList", function (d) {
                    $('#loading-mask-inner').hide();
                    $('#crm-box-panel').html(d);
                    $('.box-section').val('ManagedBy');
                    SuggestedBox();
                });
            });
        });

        $('#sameHeadOfficeAddress').on('click', function () {
            if ($(this).prop('checked') == true) {
                //alert($('#parentId').val());
                $.get('/secure/office/_GetOfficeInfo?id=' + $('#parentId').val(), function (officeData) {
                    $('#AddressLine1').val(officeData.AddressLine1);
                    $('#AddressLine1').attr('readonly', true);
                    $('#AddressLine2').val(officeData.AddressLine2);
                    $('#AddressLine2').attr('readonly', true);
                    $('#City').val(officeData.City);
                    $('#City').attr('readonly', true);
                    $('#Country').val(officeData.Country);
                    $('#Country').attr('readonly', true);
                    $('#State').val(officeData.State);
                    $('#State').attr('readonly', true);
                    $('#ZipCode').val(officeData.ZipCode);
                    $('#ZipCode').attr('readonly', true);
                });
            }
            else {
                $('#AddressLine1').val('');
                $('#AddressLine1').attr('readonly', false);
                $('#AddressLine2').val('');
                $('#AddressLine2').attr('readonly', false);
                $('#City').val('');
                $('#City').attr('readonly', false);
                $('#Country').val('');
                $('#Country').attr('readonly', false);
                $('#State').val('');
                $('#State').attr('readonly', false);
                $('#ZipCode').val('');
                $('#ZipCode').attr('readonly', false);
            }
        });
    });
</script>

@*Overview Links: Add new Employee, Add new Customer*@ 
@*Phone, Fax, Email, Location, TimeZone - Default - Different, Description*@