@model CMS.Entity.CmsContent
@{
    var queryId = ViewContext.RouteData.Values["Id"];
    ViewBag.Title = (queryId == null ? "Add New Content" : "Edit " + Model.Name + " Content");
}

@section styles{
    @if (Request.Browser.IsMobileDevice)
    {
        @Styles.Render("~/Content/SummerNote")
    }
    else
    {
        <link href="~/Content/alloy-editor/assets/alloy-editor-ocean.css" rel="stylesheet" />
    }
}

<form id="content-frm" method="post" class="form-Modal">
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewBag.Title</h4>
            <div class="btn-group btn-group-xs" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control input-sm" id="Name" name="Name" value="@Model.Name" required autofocus />
                        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Status</label>
                        <select name="Status" class="form-control input-sm" required>
                            <option value="@((int)CMS.Entity.CmsContentStatus.Draft)" @(Model.Status == CMS.Entity.CmsContentStatus.Draft ? "selected" : "")>@CMS.Entity.CmsContentStatus.Draft</option>
                            <option value="@((int)CMS.Entity.CmsContentStatus.Published)" @(Model.Status == CMS.Entity.CmsContentStatus.Published ? "selected" : "")>@CMS.Entity.CmsContentStatus.Published</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Content</label>
                    <textarea type="text" class="form-control" id="Contents" name="Contents">@Model.Contents</textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
</form>

@section scripts{
    @if (Request.Browser.IsMobileDevice)
    {
        @Scripts.Render("~/bundles/SummerNote")
        <script>
            $(function () {
                $("#Contents").summernote({ height: 200 });
            });
        </script>
    }
    else
    {
        <script src="~/Content/alloy-editor/alloy-editor-all.js"></script>
        <script>
            $(function () {
                makeAlloyEditor('Contents');
            });
        </script>
    }
    <script>
        $(function () {
            $("#content-frm").validate({
                rules: {
                    Name: {
                        remote: {
                            url: "@Url.Action("CheckUniqueContentName", "WebContent")",
                            type: "post",
                            data: {
                                Name: function () {
                                    return $("#Name").val();
                                },
                                Id: function () {
                                    return $("#Id").val();
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
}