@model WebsiteUI.Models.RecoverModel
@{
    ViewBag.Title = "Recovery";
    Layout = "~/Themes/KlickAndGo/Views/Shared/_Layout.cshtml";
}



<div id="content">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="~/" title="Home">Home</a></li>

            <li>Account</li>

        </ol>
        <div class="row">
            <div class="col-sm-12">
                <div class="title clearfix">
                    <h1>Password Recovery</h1>
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                <div class="sfbox box-login">
                    

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Raw(TempData["StatusMessage"].ToString())

                    <div id="recover_password" >
                        <h2>Reset your password</h2>
                       

                            <div class="frm reset-password">
                                <label for="recover-email" class="lbltxt">@Html.LabelFor(x => x.Email)</label>
                                @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "txtbox"})
                                @Html.ValidationMessageFor(m => m.Email, "")
                              
                            </div>
                            <div class="submit-form submit-password">
                                <p>
                                    <input type="submit" class="btn_c" name="Submit" value="Submit">
                                    <a class="info_btn" href="#">Cancel</a>
                                </p>
                            </div>
                     
                    </div>
}
                </div>
            </div>
        </div>
    </div>
</div>
