@model List<Department>

<style>
    .menu-links a:hover {
        text-decoration: none;
    }
</style>

<div class="form-Modal">
    <div class="modal-content bg-transparent">
        <div class="modal-header">
            <h3 class="modal-title">
                Department Management
                <span class="pull-right menu-links">
                    <a href="javascript://" class="text-muted" title="go to previous" style="margin:0 8px;" onclick="window.history.back()">
                        <i class="fa fa-angle-left"></i> <span class="grid-buttons"> Go Back</span>
                    </a>
                    <a href="javascript://" class="text-danger forceRedirect" title="delete record" style="margin:0 8px;" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiple")', '.checkIt')">
                            <i class="fa fa-trash"></i>
                        </a>
                    <a href="@Url.Action("Record","Department")" style="margin:0 8px;" title="add new">
                        <i class="fa fa-plus-circle text-primary"></i> <span class="grid-buttons"> Add New Department</span>
                    </a>
                </span>
            </h3>
        </div>
        <div class="row" style="margin:15px 0">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li><a href="#" class="btn btn-default" style="padding:6px 20px;"> <i style="font-size:16px;" class="fa fa-hdd-o"></i> &nbsp; All</a></li>
                    <li><a href="#" class="btn btn-default" style="padding:6px 20px;"> <i style="font-size:16px;" class="fa fa-user"></i> &nbsp; Active</a></li>
                    <li><a href="#" class="btn btn-default" style="padding:6px 20px;"> <i style="font-size:16px;" class="fa fa-adjust"></i> &nbsp; Invited</a></li>
                    <li><a href="#" class="btn btn-default" style="padding:6px 20px;"> <i style="font-size:16px;" class="fa fa-user-times"></i> &nbsp; Suspended</a></li>
                </ul>
            </div>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table id="departments-dataTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th><input type="checkbox" onchange="checkAll(this, 'checkIt');" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Code" id="departments-dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Name" id="departments-dataTable_1" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Created On" id="departments-dataTable_2" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Updated On" id="departments-dataTable_3" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Status" id="departments-dataTable_4" /></th>
                            <th class="text-center" width="100px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                        <tr>
                            <td>
                                @if (CurrentUser.HasAnyPermission(BaseApp.Entity.AppPermission.All, BaseApp.Entity.AppPermission.HRMS))
                                {
                                    <input type="checkbox" class="checkIt" value="@x.Id" />
                                }
                            </td>
                            <td><a href="@Url.Action("Details","Department",new { Id = x.Id })">@x.Code</a></td>
                            <td>@x.Name</td>
                            <td>@x.CreatedOn</td>
                            <td>@x.UpdatedOn</td>
                            <td>
                                @if (x.IsActive)
                                {
                                    <label class="label label-success">Active</label>
                                }
                                else
                                {
                                    <label class="label label-danger">Inactive</label>
                                }
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs" role="group">
                                    <a href="@Url.Action("Details","Department")/@x.Id/1" class="btn btn-primary" title="Details"><i class="fa fa-eye"></i></a>
                                    @if (CurrentUser.HasAnyPermission(BaseApp.Entity.AppPermission.All, BaseApp.Entity.AppPermission.Contact))
                                    {
                                        <a href="@Url.Action("Record","Department")/@x.Id" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="javascript://" onclick="deleteRecord('@Url.Action("Delete")', '@x.Id')" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                                    }
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="pull-right menu-links">
                <a href="javascript://" class="text-muted" title="go to previous" style="margin:0 8px;" onclick="window.history.back()">
                    <i class="fa fa-angle-left fa-2x"></i> <span class="grid-buttons"> Go Back</span>
                </a>
                <a href="javascript://" class="text-danger forceRedirect" title="delete record" style="margin:0 8px;" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiple")', '.checkIt')">
                    <i class="fa fa-trash fa-2x"></i>
                </a>
                <a href="@Url.Action("Record","Department")" style="margin:0 8px;" title="add new">
                    <i class="fa fa-plus-circle fa-2x text-primary"></i> <span class="grid-buttons"> Add New Department</span>
                </a>
            </div>
        </div>
    </div>
</div>

