
@{
    ViewBag.Title = "CRM Settings";
    var crm = AppModule.GetById("CRM");
}

@section styles{
<link href="~/Content/materialDesignSwitch.css" rel="stylesheet" />
    <style>
        .top-padding {
            padding-top: 10px !important;
        }
    </style>
}

@if (TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> @TempData["SuccessMsg"]
    </div>
}

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> @TempData["ErrorMsg"]
    </div>
}

<form id="frm" class="form-Modal" method="post" enctype="multipart/form-data">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                @ViewBag.Title
                <span class="pull-right" style="font-size:16px">
                    <a href="javascript://" style="margin:0 10px;" onclick="window.history.back()" title="Cancel / Back"><i class="fa fa-close fa-2x"></i></a>
                    <button type="submit" style="border:none; background:transparent" title="Save"><i class="fa fa-check-circle text-success fa-2x"></i></button>
                </span>
            </h4>
        </div>
        @Html.AntiForgeryToken()
        <input type="hidden" name="returnUrl" value="/CRM/Settings/Index" />
        <div class="row top-padding">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabGeneral" aria-controls="tabGeneral" data-toggle="tab">General Settings</a></li>
                    <li role="presentation"><a href="#tabSmtp" aria-controls="tabSmtp" data-toggle="tab">SMTP Configuration</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabGeneral">
                        <div class="row top-padding">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="material-switch pull-right">
                                            <input id="AutoInactive" class="AutoInactive" name="Crm:AutoInactive" type="checkbox" data-val="@AppSettings.GetVal("Crm:AutoInactive")" value="@(AppSettings.GetVal<bool>("Crm:AutoInactive") ? "true" : "false")" @(AppSettings.GetVal<bool>("Crm:AutoInactive") ? "checked" : "") />
                                            <label for="AutoInactive" class="label-success AutoInactive"></label>
                                        </div>
                                        <h4 class="list-group-item-heading">CRM Rules</h4>
                                        <p class="list-group-item-text">
                                            Enable approval will allow inactive contacts automatically.
                                        </p>
                                        <div class="row" style="margin-top:10px; display:none;" id="auto-inactive">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label> <strong> Duration to Change the Status to Inactive </strong></label>
                                                    <div class="input-group input-group-sm">
                                                        <input id="AutoInactiveAfter" name="Crm:AutoInactiveAfter" type="number" class="form-control input-sm" value="@AppSettings.GetVal("Crm:AutoInactiveAfter")" required autofocus />
                                                        <span class="input-group-addon">day(s)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="material-switch pull-right">
                                            <input id="AccountSecurity" class="AccountSecurity" name="Crm:AccountSecurity" type="checkbox" data-val="@AppSettings.GetVal("Crm:AccountSecurity")" value="@(AppSettings.GetVal<bool>("Crm:AccountSecurity") ? "true" : "false")" @(AppSettings.GetVal<bool>("Crm:AccountSecurity") ? "checked" : "") />
                                            <label for="AccountSecurity" class="label-success AccountSecurity"></label>
                                        </div>
                                        <h4 class="list-group-item-heading">Account Security Options</h4>
                                        <p class="list-group-item-text">
                                            Enable approval will allow auto account recovery option.
                                        </p>
                                        <div class="row" style="margin-top:10px; display:none;" id="account-security">
                                            <div class="col-sm-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="material-switch pull-right">
                                                            <input id="" class="SecurityQuestions" name="Crm:SecurityQuestions" type="checkbox" data-val="@AppSettings.GetVal("Crm:SecurityQuestions")" value="@AppSettings.GetVal("Crm:SecurityQuestions")" @(AppSettings.GetVal<bool>("Crm:SecurityQuestions") ? "checked" : "") />
                                                            <label for="SecurityQuestions" class="label-success SecurityQuestions"></label>
                                                        </div>
                                                        <h4 class="list-group-item-heading">Security Questions</h4>
                                                        <p class="list-group-item-text">
                                                            Enable approval will allow security questions.
                                                        </p>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="material-switch pull-right">
                                                            <input id="" class="EmailCode" name="Crm:EmailCode" type="checkbox" data-val="@AppSettings.GetVal("Crm:EmailCode")" value="@AppSettings.GetVal("Crm:EmailCode")" @(AppSettings.GetVal<bool>("Crm:EmailCode") ? "checked" : "") />
                                                            <label for="EmailCode" class="label-success EmailCode"></label>
                                                        </div>
                                                        <h4 class="list-group-item-heading"> Send Code via Email</h4>
                                                        <p class="list-group-item-text">
                                                            Enable approval will allow send code via emial.
                                                        </p>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="material-switch pull-right">
                                                            <input id="" class="SMSCode" name="Crm:SMSCode" type="checkbox" data-val="@AppSettings.GetVal("Crm:SMSCode")" value="@AppSettings.GetVal("Crm:SMSCode")" @(AppSettings.GetVal<bool>("Crm:SMSCode") ? "checked" : "") />
                                                            <label for="SMSCode" class="label-success SMSCode"></label>
                                                        </div>
                                                        <h4 class="list-group-item-heading"> Send Code via SMS</h4>
                                                        <p class="list-group-item-text">
                                                            Enable approval will allow send code via sms.
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                @*<div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Account Security Options</h4>
                                    </div>
                                    <div class="panel-body">
                                        
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tabSmtp">
                        <div class="row top-padding">
                            <div class="col-md-12">
                                <div class="form-Modal">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">All SMTP Controls</h4>
                                            <div class="btn-group btn-group-xs" role="group">
                                                <a href="javascript://" onclick="deleteMultipleRecords('@Url.Action("DeleteMultipleSmtps")', '.checkIt')" class="btn btn-danger forceRedirect"><i class="fa fa-trash"></i> Delete</a>
                                                <a href="~/Secure/Config/Smtp" class="btn btn-primary"><i class="fa fa-user-plus"></i> Add New Control</a>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="table-responsive">
                                                <table id="config-Smtp-dataTable" class="table table-hover table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" onchange="checkAll(this, 'checkIt')" /></th>
                                                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Name" id="dataTable_0" /></th>
                                                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Title" id="dataTable_1" /></th>
                                                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Username" id="dataTable_2" /></th>
                                                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Used For" id="dataTable_3" /></th>
                                                            <th width="100px" class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var x in Model)
                                                        {
                                                            <tr>
                                                                <td><input type="checkbox" class="checkIt" value="@x.Id" /></td>
                                                                <td>@x.ThirdParty</td>
                                                                <td>@x.Title</td>
                                                                <td>@x.DefaultUsername</td>
                                                                <td>@x.ModuleName</td>
                                                                <td class="text-center">
                                                                    <div class="btn-group btn-group-xs" role="group">
                                                                        <a href="~/Secure/Config/Smtp/@x.Id" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></a>
                                                                        <a href="javascript://" data-id="@x.Id" class="btn btn-primary btnModuleConfigure" title="Configure for Modules"><i class="fa fa-gear"></i></a>
                                                                        <a href="javascript://" onclick="deleteRecord('@Url.Action("DeleteSmtp")', '@x.Id')" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-right">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                                                <a href="javascript://" onclick="deleteMultipleRecords('@Url.Action("DeleteMultipleSmtps")', '.checkIt')" class="btn btn-danger forceRedirect"><i class="fa fa-trash"></i> Delete</a>
                                                <a href="~/Secure/Config/Smtp" class="btn btn-primary"><i class="fa fa-user-plus"></i> Add New Control</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="pull-right" style="font-size:16px">
                <a href="javascript://" style="margin:0 10px;" onclick="window.history.back()" title="Cancel / Back"><i class="fa fa-close fa-2x"></i></a>
                <button type="submit" style="border:none; background:transparent" title="Save"><i class="fa fa-check-circle text-success fa-2x"></i></button>
            </div>
        </div>
    </div>
</form>

@section scripts{
<script src="~/Scripts/App/Crm.js"></script>
}