@model CMS.Entity.CmsPage
@{
    var queryId = ViewContext.RouteData.Values["Id"];
    ViewBag.Title = (queryId == null ? "Add New Page" : "Edit " + Model.Name);
    var allPages = ViewBag.AllPages as List<CMS.Entity.CmsPage>;
    int orderLength = allPages.Where(x => x.ParentId == null).Count();
}

@section styles{
    <link href="~/Content/Morris Chart/morris.css" rel="stylesheet" />

    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <link href="~/Content/Bootstrap Typehead/tokenfield-typeahead.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap Typehead/bootstrap-tokenfield.css" rel="stylesheet" />

    @if (Request.Browser.IsMobileDevice)
    {
        @Styles.Render("~/Content/SummerNote")
    }
    else
    {
        <link href="~/Content/alloy-editor/assets/alloy-editor-ocean.css" rel="stylesheet" />
    }
    <style>
        ul.stage-Nav > li.list-group > a.list-group-item::after {
            left: 90%;
        }
    </style>
}

@if (queryId != null)
{
    <div class="row">
        <div class="col-sm-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-star"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Page Rank</span>
                    <span class="info-box-number">3/10</span>
                </div>
            </div>
            <ul class="list-group no-margin">
                <li class="list-group-item list-group-item-success"><i class="fa fa-check-circle"></i> Checks Passed <span class="badge">14</span></li>
                <li class="list-group-item list-group-item-warning"><i class="fa fa-warning"></i> Warnings <span class="badge">3</span></li>
                <li class="list-group-item list-group-item-danger"><i class="fa fa-times-circle"></i> Critical Issues <span class="badge">7</span></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info no-margin">
                <div class="panel-heading">
                    <h4 class="panel-title">Top Keywords</h4>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary no-margin">
                <div class="panel-heading">
                    <h4 class="panel-title">Performance</h4>
                </div>
                <div id="morris-line-chart" style="height:190px;"></div>
            </div>
        </div>
    </div>
}

<ul class="nav nav-tabs nav-justified stage-Nav">
    <li class="list-group">
        <a id="carousel-Step1" href="javascript://" class="list-group-item active">
            <i class="fa fa-angle-right"></i>
            <h5 class="list-group-item-heading">1. Page Vitals</h5>
            <p class="list-group-item-text small text-left">URL, Name, Ordering & other settings</p>
        </a>
    </li>
    <li class="list-group">
        <a id="carousel-Step2" href="javascript://" class="list-group-item">
            <i class="fa fa-angle-right"></i>
            <h5 class="list-group-item-heading">2. Page Contents</h5>
            <p class="list-group-item-text small text-left">Contents editor, Add page sections</p>
        </a>
    </li>
    <li class="list-group">
        <a id="carousel-Step3" href="javascript://" class="list-group-item">
            <i class="fa fa-angle-right"></i>
            <h5 class="list-group-item-heading">3. SEO Settings</h5>
            <p class="list-group-item-text small text-left">Page SEO metadata settings</p>
        </a>
    </li>
    <li class="list-group">
        <a id="carousel-Step4" href="javascript://" class="list-group-item last">
            <i class="fa fa-angle-right"></i>
            <h5 class="list-group-item-heading">4. Review & Publish</h5>
            <p class="list-group-item-text small text-left">Review page settings & publish page</p>
        </a>
    </li>
</ul>


@if (TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["SuccessMsg"]
    </div>
}

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong>
        @TempData["ErrorMsg"]
    </div>
}

<div id="div-Carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <form id="page-frm" class="carousel-inner" role="listbox" method="post">
        @Html.AntiForgeryToken()

        <div class="item @(Request["tab"] == null ? "active" : "")">
            <div class="form-Modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">CMS Settings</h4>
                        <div class="btn-group btn-group-xs" role="group">
                            <a href="javascript://" onclick="window.history.back()" data-placement="bottom" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
                            <a href="javascript://" onclick="carouselFormValidate(this, '#div-Carousel', 2);" data-placement="bottom" class="btn btn-success">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Url</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">/</div>
                                        <input type="text" class="form-control input-sm alphanumericNoSpaceMask" id="Slug" name="Slug" value="@Model.Slug" required @(Model.IsSystem ? "readonly" : "") autofocus />
                                        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input id="Name" type="text" class="form-control input-sm" name="Name" value="@Model.Name" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Browser Title</label>
                                    <input id="BrowserTitle" type="text" class="form-control input-sm" name="BrowserTitle" value="@Model.BrowserTitle" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Parent</label>
                                    <select id="ParentId" name="ParentId" class="form-control input-sm" @(Model.IsSystem ? "disabled" : "")>
                                        <option value="">-- No Parent --</option>
                                        @foreach (var x in allPages.Where(x => x.ParentId == null).ToList())
                                        {
                                            <option value="@x.Id" @(Model.ParentId == x.Id ? "selected" : "" )>@x.Name</option>
                                        }
                                    </select>
                                    @if (Model.IsSystem)
                                    {
                                        <input type="hidden" id="ParentId" name="ParentId" value="@Model.ParentId" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Order</label>
                                    <select id="PageOrder" name="PageOrder" class="form-control input-sm" required>
                                        @for (int i = 1; i <= orderLength; i++)
                                        {
                                            <option value="@i" @(Model.PageOrder == i ? "selected" : "" )>@i</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Page is a Link <a href="javascript://" title="If page is a linked URL then check the checkbox and write URL."><i class="fa fa-info-circle"></i></a></label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">
                                            <div class="checkbox no-margin"><label style="min-height:11px;"><input type="checkbox" id="IsLink" name="IsLink" value="@(Model.IsLink ? "true" : "false")" @(Model.IsLink ? "checked" : "") /></label></div>
                                        </div>
                                        <input type="url" class="form-control" id="LinkUrl" name="LinkUrl" value="@Model.LinkUrl" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Page is an external link <a href="javascript://" title="Choose whether the page should open in new tab or not."><i class="fa fa-info-circle"></i></a></label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">
                                            <div class="checkbox no-margin"><label style="min-height:11px;"><input type="checkbox" id="LinkTarget" name="LinkTarget" value="@(Model.LinkTarget ? "true" : "false")" @(Model.LinkTarget ? "checked" : "") /></label> Externel</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Show Page On</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">
                                            <div class="checkbox no-margin"><label style="min-height:11px;"><input type="checkbox" id="Menu" name="Menu" value="@(Model.Menu ? "true" : "false")" @(Model.Menu ? "checked" : "") /> Menu</label></div>
                                        </div>
                                        <div class="input-group-addon">
                                            <div class="checkbox no-margin"><label style="min-height:11px;"><input type="checkbox" id="Footer" name="Footer" value="@(Model.Footer ? "true" : "false")" @(Model.Footer ? "checked" : "") /> Footer</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tags <a href="javascript://" title="Type tag and hit enter or tab to add another one."><i class="fa fa-info-circle"></i></a></label>
                                    <input id="tags-typehead" class="form-control input-sm" name="Tags" value="@Model.Tags" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
                            <a href="javascript://" class="btn btn-success" onclick="carouselFormValidate(this, '#div-Carousel', 2);">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item @(Request["tab"] != null ? (Request["tab"].ToString() == "loc" ? "active" : "" ) : "")">
            <div class="form-Modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Page Contents</h4>
                        <div class="btn-group btn-group-xs" role="group">
                            <a href="javascript://" onclick="carouselFormValidatePrev('#div-Carousel', 2)" class="btn btn-default" data-placement="bottom"><i class="fa fa-chevron-left"></i> Back</a>
                            <a href="javascript://" onclick="carouselFormValidate(this, '#div-Carousel', 3);" data-placement="bottom" class="btn btn-success review-btn">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <textarea type="text" class="form-control" id="Contents" name="Contents">@Model.Contents</textarea>
                    </div>
                    <div class="modal-footer text-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="javascript://" onclick="carouselFormValidatePrev('#div-Carousel', 2)" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</a>
                            <a href="javascript://" class="btn btn-success review-btn" onclick="carouselFormValidate(this, '#div-Carousel', 3);">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item @(Request["tab"] != null ? (Request["tab"].ToString() == "config" ? "active" : "" ) : "")">
            <div class="form-Modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Optional SEO Settings</h4>
                        <div class="btn-group btn-group-xs" role="group">
                            <a href="javascript://" onclick="carouselFormValidatePrev('#div-Carousel', 3)" class="btn btn-default" data-placement="bottom"><i class="fa fa-chevron-left"></i> Back</a>
                            <a href="javascript://" onclick="carouselFormValidate(this, '#div-Carousel', 4);" data-placement="bottom" class="btn btn-success review-btn">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <textarea type="text" class="form-control" id="Metadata" name="Metadata" rows="10">@Model.Metadata</textarea>
                    </div>
                    <div class="modal-footer text-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="javascript://" onclick="carouselFormValidatePrev('#div-Carousel', 3)" class="btn btn-default" role="button"><i class="fa fa-chevron-left"></i> Back</a>
                            <a href="javascript://" class="btn btn-success review-btn" onclick="carouselFormValidate(this, '#div-Carousel', 4);">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item @(Request["tab"] != null ? (Request["tab"].ToString() == "config" ? "active" : "" ) : "")">
            <div class="form-Modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Review your changes</h4>
                        <div class="btn-group btn-group-xs" role="group">
                            <a href="javascript://" onclick="carouselFormValidatePrev('#div-Carousel', 4)" class="btn btn-default" data-placement="bottom"><i class="fa fa-chevron-left"></i> Back</a>
                            @if (!Model.IsSystem)
                            {
                                <button name="submit" value="draft" type="submit" class="btn btn-warning">Save as draft <i class="fa fa-angle-right"></i></button>
                            }
                            <button name="submit" value="publish" type="submit" class="btn btn-success">Publish Page <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-striped">
                                        <tr>
                                            <th class="text-right">Page URL</th>
                                            <td id="review-URL"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Page Name</th>
                                            <td id="review-Name"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Page Browser Title</th>
                                            <td id="review-BrowserTitle"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Page is a child of</th>
                                            <td id="review-Parent"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Page Order</th>
                                            <td id="review-PageOrder"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-striped">
                                        <tr>
                                            <th class="text-right">Page is a link</th>
                                            <td id="review-IsLink"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Page Link</th>
                                            <td id="review-LinkUrl"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Should page open in new tab</th>
                                            <td id="review-LinkTarget"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Show Page in Menu</th>
                                            <td id="review-Menu"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Show Page in Footer</th>
                                            <td id="review-Footer"></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Page Tags</th>
                                            <td id="review-Tags"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div id="review-Metadata" class="col-md-12 well well-sm" style="margin-top:15px;"></div>
                            <div id="review-Contents" class="col-md-12" style="margin-top:15px;"></div>
                        </div>
                    </div>
                    <div class="modal-footer text-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="javascript://" onclick="carouselFormValidatePrev('#div-Carousel', 4)" class="btn btn-default" role="button"><i class="fa fa-chevron-left"></i> Back</a>
                            @if (!Model.IsSystem)
                            {
                                <button name="submit" value="draft" type="submit" class="btn btn-warning">Save as draft <i class="fa fa-angle-right"></i></button>
                            }
                            <button name="submit" value="publish" type="submit" class="btn btn-success">Publish Page <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts{
    <script src="~/Scripts/Morris Chart/raphael-min.js"></script>
    <script src="~/Scripts/Morris Chart/morris.min.js"></script>

    <!--  Bootstrap Typehead  -->
    <script src="~/Scripts/Bootstrap Typehead/bootstrap-tokenfield.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    @if (Request.Browser.IsMobileDevice)
    {
        @Scripts.Render("~/bundles/SummerNote")
        <script>
            $(function () {
                $("#Contents").summernote({ height: 200 });
            });
        </script>
    }
    else
    {
        <script src="~/Content/alloy-editor/alloy-editor-all.js"></script>
        <script>
            $(function () {
                makeAlloyEditor('Contents');
            });
        </script>
    }
    <script>
        $(function () {
            $('#tags-typehead').on('tokenfield:createdtoken', function (e) { }).tokenfield({ createTokensOnBlur: true });

            $("#page-frm").validate({
                rules: {
                    Slug: {
                        remote: {
                            url: "@Url.Action("CheckUniqueSlug", "WebPage")",
                            type: "post",
                            data: {
                                Slug: function () {
                                    return $("#Slug").val();
                                },
                                Id: function () {
                                    return $("#Id").val();
                                }
                            }
                        }
                    }
                }
            });


            $('.review-btn').click(function (e) {
                $("#review-URL").text($("#Slug").val());
                $("#review-Name").text($("#Name").val());
                $("#review-BrowserTitle").text($("#BrowserTitle").val());
                $("#review-Parent").text($("#ParentId option:selected").text());
                $("#review-PageOrder").text($("#PageOrder").val());
                $("#review-IsLink").text($("#IsLink").val());
                $("#review-LinkUrl").text($("#LinkUrl").val());
                $("#review-LinkTarget").text($("#LinkTarget").val());
                $("#review-Menu").text($("#Menu").val());
                $("#review-Footer").text($("#Footer").val());
                $("#review-Tags").text($("#tags-typehead").val());
                $("#review-Contents").html($('.ae-editable').html());
                $("#review-Metadata").text($('#Metadata').val());
            });


            @if (queryId != null)
            {
                <text>
                    //--- Line Graph
                    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                    Morris.Area({
                        element: 'morris-line-chart',
                        data: [
                            { "m": "2016-12", "visit": 1400 },
                            { "m": "2016-11", "visit": 1000 },
                            { "m": "2016-10", "visit": 700 },
                            { "m": "2016-09", "visit": 430 },
                            { "m": "2016-08", "visit": 320 },
                            { "m": "2016-07", "visit": 780 },
                            { "m": "2016-06", "visit": 940 },
                            { "m": "2016-05", "visit": 230 },
                            { "m": "2016-04", "visit": 563 },
                            { "m": "2016-03", "visit": 129 },
                            { "m": "2016-02", "visit": 105 },
                            { "m": "2016-01", "visit": 100 }
                        ],
                        xkey: 'm',
                        ykeys: ['visit'],
                        labels: ['Visit'],
                        xLabelFormat: function (x) {
                            var month = months[x.getMonth()];
                            return month;
                        },
                        dateFormat: function (x) {
                            var month = months[new Date(x).getMonth()];
                            return month;
                        },
                    });
                    //---
                </text>
            }
        });
    </script>
}