@model CMS.Entity.CmsPage
@{
    ViewBag.Title = Model.Name + " Contents";
}

@section styles{
    @if (Request.Browser.IsMobileDevice)
    {
        @Styles.Render("~/Content/SummerNote")
    }
    else
    {
        <link href="~/Content/alloy-editor/assets/alloy-editor-ocean.css" rel="stylesheet" />
    }
    <style>
        ul.stage-Nav > li.list-group > a.list-group-item::after {
            left: 90%;
        }
    </style>
}

<ul class="nav nav-tabs nav-justified stage-Nav">
    <li class="list-group">
        <a id="carousel-Step1" href="~/CMS/WebPage/Step1/@Model.Id" class="list-group-item done-last">
            <i class="fa fa-angle-right"></i>
            <h5 class="list-group-item-heading">1. Page Vitals</h5>
            <p class="list-group-item-text small text-left">URL, Name, Ordering & other settings</p>
        </a>
    </li>
    <li class="list-group">
        <a id="carousel-Step2" href="~/CMS/WebPage/Step2/@Model.Id" class="list-group-item active">
            <i class="fa fa-angle-right"></i>
            <h5 class="list-group-item-heading">2. Page Contents</h5>
            <p class="list-group-item-text small text-left">Contents editor, Add page sections</p>
        </a>
    </li>
    <li class="list-group">
        <a id="carousel-Step3" href="~/CMS/WebPage/Step3/@Model.Id" class="list-group-item">
            <i class="fa fa-angle-right"></i>
            <h5 class="list-group-item-heading">3. Optional SEO Settings</h5>
            <p class="list-group-item-text small text-left">Page SEO metadata settings</p>
        </a>
    </li>
    <li class="list-group">
        <a id="carousel-Step4" href="~/CMS/WebPage/Step4/@Model.Id" class="list-group-item last">
            <i class="fa fa-angle-right"></i>
            <h5 class="list-group-item-heading">4. Review & Publish</h5>
            <p class="list-group-item-text small text-left">Review page settings & publish page</p>
        </a>
    </li>
</ul>

<form id="frm" method="post" class="form-Modal">
    @Html.AntiForgeryToken()
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewBag.Title</h4>
            <div class="btn-group btn-group-xs" role="group">
                <a href="~/CMS/WebPage/Step1/@Model.Id" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <button type="submit" class="btn btn-success">Next <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
        <textarea type="text" class="form-control" id="Contents" name="Contents">@Model.Contents</textarea>
        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <a href="~/CMS/WebPage/Step1/@Model.Id" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <button type="submit" class="btn btn-success">Next <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</form>


@section scripts{
    @if (Request.Browser.IsMobileDevice)
    {
        @Scripts.Render("~/bundles/SummerNote")
        <script>
                $(function () {
                    $("#Contents").summernote({ height: 200 });
                });
        </script>
    }
    else
    {
        <script src="~/Content/alloy-editor/alloy-editor-all.js"></script>
        <script>
            $(function () {
                makeAlloyEditor('Contents');
            });
        </script>
    }
}