
@model HRM_Vew_Employee
@{

    var queryId = ViewContext.RouteData.Values["Id"];
    ViewBag.Title = "View Employee";
    var references = ViewBag.References as List<EmpReference>;
}
<form id="lead-frm" class="user-Profile" method="post">
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>

            </div>
        </div>
    </div>
    <div class="row tb-padding" style="margin-top:15px;">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="progress">
                <div class="dropdown">
                    <a href="javascript://" class="progress-bar progress-bar-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 25%; position:relative;">
                        <img src="~/Content/Images/tick.png" style="position: absolute; height: 25px;left: 10px;top: 5px;" /> Draft
                    </a>
                </div>
                <div class="dropdown">
                    <a href="javascript://" class="progress-bar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 25%; position:relative;">Done</a>
                </div>

                <div class="dropdown">
                    <a href="javascript://" class="progress-bar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 25%; position:relative;"> Review</a>
                    <ul class="dropdown-menu" style="top:-50px; width:auto;">
                        <li><a href="javascript://"><img src="~/Content/Images/tick.png" style="height: 15px;" />  Reviewed On: @DateTime.UtcNow by Super Admin</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <a href="javascript://" class="progress-bar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 25%; position:relative;">Completed</a>
                    <ul class="dropdown-menu" style="top:-50px; width:auto;">
                        <li><a href="javascript://"><img src="~/Content/Images/tick.png" style="height: 10px;" />  Completed On: @DateTime.UtcNow by Super Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="img-container">
                @{
                    if (Utils.IsFileExist($"~/{HRMContants.DP_PATH}{queryId}.jpg"))
                    {
                        <img id="img-Preview" src="@($"~/{HRMContants.DP_PATH}{queryId}.jpg"))" class="img-responsive img-centre img-cirlce" />
                    }
                    else
                    {
                        <img id="img-Preview" src="/Content/Images/base-user.jpg" class="img-responsive img-centre img-cirlce" />
                    }
                }
            </div>
        </div>
        <div class="col-sm-9 bordered-section">
            <div class="row">

                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Employee Code </label>
                        <div class="col-sm-8 lblData">
                            @Model.Code
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Employee Type: </label>
                        <div class="col-sm-8 lblData">
                            @((EmployeeType)Model.EmployeeType)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Name</label>
                        <div class="col-sm-8 lblData">
                            @Model.Name
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">C.N.I.C</label>
                        <div class="col-sm-8 lblData">
                            @Model.CNIC
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Father Name</label>
                        <div class="col-sm-8 lblData">
                            @Model.FatherName
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Father C.N.I.C</label>
                        <div class="col-sm-8 lblData">
                            @Model.FatherCNIC
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Permanent Address</label>
                        <div class="col-sm-8 lblData">
                            @Model.PermanentAddress
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Phone</label>
                        <div class="col-sm-8 lblData">
                            @Model.Phone
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Region</label>
                        <div class="col-sm-8 lblData">
                            @Model.RegionName
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Center</label>
                        <div class="col-sm-8 lblData">
                            @Model.CenterName
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Post</label>
                        <div class="col-sm-8 lblData">
                            @Model.PostName
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Supervisor</label>
                        <div class="col-sm-8 lblData">
                            @Model.SupervisorName
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label"> Department </label>
                        <div class="col-sm-8 lblData">
                            @Model.DepartmentName
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label class="col-sm-4 horizontal-label">Designation</label>
                        <div class="col-sm-8 lblData">
                            @Model.DesignationTitle

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row tb-padding">

        <ul class="nav nav-tabs" id="sampleTabs">
            <li class="active"><a class="inactiveNav" data-toggle="tab" href="#publicInformation">Public Information</a></li>
            <li><a data-toggle="tab" href="#personalInfo">Personal Information</a></li>
            <li><a data-toggle="tab" href="#hrSetting">HR Setting</a></li>
            <li><a data-toggle="tab" href="#politicalInfo">Political Information</a></li>
            <li><a data-toggle="tab" href="#document">Documents</a></li>
            <li><a data-toggle="tab" href="#armyInfo">Army Information</a></li>
            <li><a data-toggle="tab" href="#reference">Reference</a></li>
            <li><a data-toggle="tab" href="#post">Post</a></li>
            <li><a data-toggle="tab" href="#transferHistory">Transfer History</a></li>
            <li><a data-toggle="tab" href="#fingers">Fingers</a></li>
            <li><a data-toggle="tab" href="#rejoinHistory">Re-Join History</a></li>
            <li><a data-toggle="tab" href="#contractDetails">Contract Details</a></li>
            <li><a data-toggle="tab" href="#salaryInformation">Salary Information</a></li>
        </ul>

        <div class="tab-content">
            <div id="publicInformation" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Emergency Contact Information</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Address</label>
                            <div class="col-sm-8 lblData">
                                @Model.EmergencyAddress
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Phone</label>
                            <div class="col-sm-8 lblData">
                                @Model.EmergencyPhone
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Cell</label>
                            <div class="col-sm-8 lblData">
                                @Model.EmergencyCell
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="personalInfo" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Bank Account Details</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Bank Name</label>
                            <div class="col-sm-8 lblData">
                                @Model.BankName
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Account Title</label>
                            <div class="col-sm-8 lblData">
                                @Model.AccountTitle
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Account No</label>
                            <div class="col-sm-8 lblData">
                                @Model.AccountNo
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Branch Name</label>
                            <div class="col-sm-8 lblData">
                                @Model.BranchName
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Account Owner</label>
                            <div class="col-sm-8 lblData">
                                @Model.AccountOwner
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Opening Date</label>
                            <div class="col-sm-8 lblData">
                                @Model.OpeningDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>Personal Information</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Current Address</label>
                            <div class="col-sm-8 lblData">
                                @Model.CurrentAddress
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Mother Name</label>
                            <div class="col-sm-8 lblData">
                                @Model.MotherName
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Education</label>
                            <div class="col-sm-8 lblData">
                                @Model.Education
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Blood Group</label>
                            <div class="col-sm-8 lblData">
                                @Model.BloodGroup
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Identification Marks</label>
                            <div class="col-sm-8 lblData">
                                @Model.IdentificationMarks
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Height</label>
                            <div class="col-sm-8 lblData">
                                @Model.Height
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Weight</label>
                            <div class="col-sm-8 lblData">
                                @Model.Weight
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Status</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Gender</label>
                            <div class="col-sm-8 lblData">
                                @((Gender)Convert.ToInt32("0" + Model.Gender))
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Marital Status</label>
                            <div class="col-sm-8 lblData">
                                @((MaritalStatus)Convert.ToInt32("0" + Model.MaritalStatus))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hrSetting" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Salary Information</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Basic Salary</label>
                            <div class="col-sm-8 lblData">
                                @Model.BasicSalary
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Duty Bouns</label>
                            <div class="col-sm-8 lblData">
                                @Model.DutyBouns
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Weapon Allowance</label>
                            <div class="col-sm-8 lblData">
                                @Model.WeaponAllowance
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Annual Leaves</label>
                            <div class="col-sm-8 lblData">
                                @Model.AnnualLeaves
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>Job</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Contract (years)</label>
                            <div class="col-sm-8 lblData">
                                @Model.Contract
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Time Period</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Appointment Date</label>
                            <div class="col-sm-8 lblData">
                                @Model.AppointmentDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Resignation Date</label>
                            <div class="col-sm-8 lblData">
                                @Model.ResignationDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="politicalInfo" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Political Information</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Police Station</label>
                            <div class="col-sm-8 lblData">
                                @Model.PoliceStation
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Post Office</label>
                            <div class="col-sm-8 lblData">
                                @Model.PostOffice
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Area Nazim Name</label>
                            <div class="col-sm-8 lblData">
                                @Model.AreaNazimName
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Well Known Person</label>
                            <div class="col-sm-8 lblData">
                                @Model.WellKnownPerson
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Union Council No</label>
                            <div class="col-sm-8 lblData">
                                @Model.UCNo
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">NA Number</label>
                            <div class="col-sm-8 lblData">
                                @Model.NANumber
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">PA Number</label>
                            <div class="col-sm-8 lblData">
                                @Model.PANumber
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Vote No</label>
                            <div class="col-sm-8 lblData">
                                @Model.VoteNo
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>Position</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">KIN</label>
                            <div class="col-sm-8 lblData">
                                @Model.NextToKIN
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Wife Name</label>
                            <div class="col-sm-8 lblData">
                                @Model.WifeName
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">No of Childs</label>
                            <div class="col-sm-8 lblData">
                                @Model.NoOfChilds
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">No of Boys</label>
                            <div class="col-sm-8 lblData">
                                @Model.NoOfBoys
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">No of Girls</label>
                            <div class="col-sm-8 lblData">
                                @Model.NoOfGirls
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="document" class="tab-pane fade in">
                <h4>Documents</h4>
                <div class="row">
                    <div class="col-sm-10">
                        @if (Model != null && Model.EmployeeId != Guid.Empty)
                        {
                            Html.RenderAction("_EmpDocuments", "Employee", new { Id = Model.EmployeeId });
                        }
                    </div>

                </div>
            </div>
            <div id="armyInfo" class="tab-pane fade">
                <h4>Army Information</h4>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Joining Date</label>
                            <div class="col-sm-8 lblData">
                                @Model.JoiningDate.ToString("yyyy-MM-dd")
                                <input type="date" class="form-control input-sm" name="JoiningDate" value="@Model.JoiningDate.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Unit Name</label>
                            <div class="col-sm-8 lblData">
                                @Model.UnitName
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Force No</label>
                            <div class="col-sm-8 lblData">
                                @Model.ForceNo
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Last Unit</label>
                            <div class="col-sm-8 lblData">
                                @Model.LastUnit
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Last Center</label>
                            <div class="col-sm-8 lblData">
                                @Model.LastCenter
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Service Period (years)</label>
                            <div class="col-sm-8 lblData">
                                @Model.ServicePeriod
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Record Center</label>
                            <div class="col-sm-8 lblData">
                                @Model.RecordCenter
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Discharge Date</label>
                            <div class="col-sm-8 lblData">
                                @Model.DischargeDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Rank</label>
                            <div class="col-sm-8 lblData">
                                @Model.Rank
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Trade</label>
                            <div class="col-sm-8 lblData">
                                @Model.Trade
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Force Type</label>
                            <div class="col-sm-8 lblData">
                                @Model.ForceType
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Previous Forces</label>
                            <div class="col-sm-8 lblData">
                                @Model.PreviousForces
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="reference" class="tab-pane fade">
                <h4>Reference Information</h4>
                <div class="row">
                    <div>
                        @{
                            if (references == null || references.Count() == 0)
                            {

                            }
                            else
                            {
                                var Reference = references.ToArray();
                                if (references.Count() == 2)
                                {

                                    <div class="col-sm-5">
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">&nbsp;</label>
                                            <div class="col-sm-8 lblData">
                                                <div class="img-container">
                                                    @{
                                                        if (queryId != null && Utils.IsFileExist($"~/{HRMContants.DP_PATH}ref1-{queryId}.jpg"))
                                                        {
                                                            <img id="reference1-img" src="@($"/{HRMContants.DP_PATH}ref1-{queryId}.jpg")" class="img-responsive img-centre img-cirlce" />
                                                        }
                                                        else
                                                        {
                                                            <img id="reference1-img" src="/Content/Images/base-user.jpg" class="img-responsive img-centre img-cirlce" />
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Name</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefName
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Address Type</label>
                                            <div class="col-sm-8 lblData">
                                                @((AddressType)Convert.ToInt32(Reference[0].RefAddressType))

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Address</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefAddress
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">State</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefState
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Country</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefCountry
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">C.N.I.C</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefCNIC
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Profession</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefProfession
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Phone</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefPhone
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Mobile</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefMobile
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Email</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefEmail
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">&nbsp;</label>
                                            <div class="col-sm-8 lblData">
                                                <div class="img-container">
                                                    @{
                                                        if (queryId != null && Utils.IsFileExist($"~/{HRMContants.DP_PATH}ref2-{queryId}.jpg"))
                                                        {
                                                            <img id="reference2-img" src="@($"/{HRMContants.DP_PATH}ref2-{queryId}.jpg")" class="img-responsive img-centre img-cirlce" />
                                                        }
                                                        else
                                                        {
                                                            <img id="reference2-img" src="/Content/Images/base-user.jpg" class="img-responsive img-centre img-cirlce" />
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Name</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefName
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Address Type</label>
                                            <div class="col-sm-8 lblData">
                                                @((AddressType)Convert.ToInt32(Reference[1].RefAddressType))
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Address</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefAddress
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">State</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefState
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Country</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefCountry
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">C.N.I.C</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefCNIC
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Profession</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefProfession
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Phone</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefPhone
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Mobile</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefMobile
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Email</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[1].RefEmail
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (references.Count() == 1)
                                {
                                    <div class="col-sm-5">
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">&nbsp;</label>
                                            <div class="col-sm-8 lblData">
                                                <div class="img-container">
                                                    @{
                                                        if (queryId != null && Utils.IsFileExist($"~/{HRMContants.DP_PATH}ref1-{queryId}.jpg"))
                                                        {
                                                            <img id="reference1-img" src="@($"/{HRMContants.DP_PATH}ref1-{queryId}.jpg")" class="img-responsive img-centre img-cirlce" />
                                                        }
                                                        else
                                                        {
                                                            <img id="reference1-img" src="/Content/Images/base-user.jpg" class="img-responsive img-centre img-cirlce" />
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Name</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefName
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Address Type</label>
                                            <div class="col-sm-8 lblData">
                                                @((AddressType)Convert.ToInt32(Reference[0].RefAddressType))

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Address</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefAddress
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">State</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefState
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Country</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefCountry
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">C.N.I.C</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefCNIC
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Profession</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefProfession
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Phone</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefPhone
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Mobile</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefMobile
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 horizontal-label">Email</label>
                                            <div class="col-sm-8 lblData">
                                                @Reference[0].RefEmail
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        }
                    </div>
                </div>

            </div>
            <div id="post" class="tab-pane fade">
                <h3>Post</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Post Name</label>
                            <div class="col-sm-8 lblData">
                                @*@Html.TextBoxFor(x => x.PostName, new { @class = "form-control input-sm" })*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">From Date</label>
                            <div class="col-sm-8 lblData">
                                @*@Html.TextBoxFor(x => x.FromDate, new { @type = "date", @class = "form-control input-sm" })*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">To Date</label>
                            <div class="col-sm-8 lblData">
                                @*@Html.TextBoxFor(x => x.ToDate, new { @type = "date", @class = "form-control input-sm" })
                                    <input type="date" class="form-control input-sm" name="DischargeDate" value="@Model.DischargeDate.ToString("yyyy-MM-dd")" />

                                *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="transferHistory" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Old Transfer Information</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Segment</label>
                            <div class="col-sm-8 lblData">
                                @Model.OTSegment
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Sub Segment</label>
                            <div class="col-sm-8 lblData">
                                @Model.OTSubSegment
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Department</label>
                            <div class="col-sm-8 lblData">
                                @Model.OTDepartSegment
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Job</label>
                            <div class="col-sm-8 lblData">
                                @Model.OTJob
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Manager</label>
                            <div class="col-sm-8 lblData">
                                @Model.OTManager
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Coach</label>
                            <div class="col-sm-8 lblData">
                                @Model.OTCoach
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Center</label>
                            <div class="col-sm-8 lblData">
                                @Model.OTCenter
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>New Transfer Information</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Segment</label>
                            <div class="col-sm-8 lblData">
                                @Model.NTSegment
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Sub Segment</label>
                            <div class="col-sm-8 lblData">
                                @Model.NTSubSegment
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Department</label>
                            <div class="col-sm-8 lblData">
                                @Model.NTDepartSegment
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Job</label>
                            <div class="col-sm-8 lblData">
                                @Model.NTJob
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Manager</label>
                            <div class="col-sm-8 lblData">
                                @Model.NTManager
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Coach</label>
                            <div class="col-sm-8 lblData">
                                @Model.NTCoach
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Center</label>
                            <div class="col-sm-8 lblData">
                                @Model.NTCenter
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fingers" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Left Hand Fingers</h4>

                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Left Thumb</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-LeftThumb" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftThumb.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftThumb.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Left Index Finger</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-LeftIndexFinger" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftIndexFinger.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftIndexFinger.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Left Middle Finger</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-LeftMiddleFinger" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftMiddleFinger.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftMiddleFinger.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Left Ring Finger</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-LeftRingFinger" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftRingFinger.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftRingFinger.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Left Baby Finger</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-LeftBabyFinger" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftBabyFinger.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_LeftBabyFinger.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>Right Hand Fingers</h4>

                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Right Thumb</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-RightThumb" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightThumb.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightThumb.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Right Index Finger</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-RightIndexFinger" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightIndexFinger.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightIndexFinger.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Right Middle Finger</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-RightMiddleFinger" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightMiddleFinger.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightMiddleFinger.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Right Ring Finger</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-RightRingFinger" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightRingFinger.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightRingFinger.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Right Baby Finger</label>
                            <div class="col-sm-4">
                                <div class="img-container">
                                    <img id="img-RightBabyFinger" src="@((queryId != null && Utils.IsFileExist($"~/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightBabyFinger.jpg")) ? $"/{HRMContants.FINGER_PRINTS_PATH}{queryId}_RightBabyFinger.jpg" : "../../../Content/Images/came.png")" class="img-responsive img-centre fingerPrintImg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rejoinHistory" class="tab-pane fade">
                <h4>Rejoin History</h4>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Previous Appointment Date</label>
                            <div class="col-sm-8 lblData">
                                @Model.PreviousAppointmentDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Previous Terminate Date</label>
                            <div class="col-sm-8 lblData">
                                @Model.PreviousTerminateDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Rejoin Date</label>
                            <div class="col-sm-8 lblData">
                                @Model.RejoinDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contractDetails" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Contract Terms</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Start Date</label>
                            <div class="col-sm-8 lblData">
                                @*<input type="date" class="form-control input-sm" name="StartDate" />*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">End Date<a href="javascript://" title="If fixed term contract."><i class="fa fa-info-circle"></i></a></label>
                            <div class="col-sm-8 lblData">
                                @*<input type="date" class="form-control input-sm" name="EndDate" />*@

                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Trial End Date</label>
                            <div class="col-sm-8 lblData">
                                @*<input type="date" class="form-control input-sm" name="TrialEndDate" />*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Working Schedule</label>
                            <div class="col-sm-8 lblData">
                                <select class="form-control input-sm">
                                    @*<option>Select Working Sechedule</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>Accounting</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Analytic Account</label>
                            <div class="col-sm-8 lblData">
                                <select class="form-control input-sm">
                                    @*<option>Select Analytic Account</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Salary Journal</label>
                            <div class="col-sm-8 lblData">
                                <select class="form-control input-sm">
                                    @*<option>Select Salary Journal</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Attendance Policy</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Scheduled Pay</label>
                            <div class="col-sm-8 lblData">
                                <select class="form-control input-sm">
                                    @*<option>Select Scheduled Pay</option>
                                        <option>Weekly</option>
                                        <option>Monthly</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        <h4>Notes</h4>
                        <div class="row form-group">
                            @*<textarea rows="1" class="form-control input-sm">
                                </textarea>*@
                        </div>
                    </div>
                </div>
            </div>

            <div id="salaryInformation" class="tab-pane fade">
                <h4>Monthly Advantages in Cash</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Wage</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="Wage" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">House Rent Allowance(%)</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="HouseRentAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Transportation Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="TransportationAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Mobile Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="MobileAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Fuel Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="FuelAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Food/Laundary Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="FoodLaundaryAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Bike Maintenance Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="BikeMaintenanceAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Out Station Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="OutStationAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Medical Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="MedicalAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Scholarship Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="ScholarshipAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Supplementary Allowance</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="SupplementaryAllowance" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Gross Salary</label>
                            <div class="col-sm-8 lblData">
                                <div class="input-group input-group-sm">
                                    @*<input type="number" class="form-control input-sm" name="GrossSalary" value="0.00" />*@
                                    <div class="input-group-addon">/ month</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h4>Deductions</h4>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">TDS</label>
                            <div class="col-sm-8 lblData">
                                @*<input type="number" class="form-control input-sm" name="TDS" value="0.00" />*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Voluntary Provident Fund(%)</label>
                            <div class="col-sm-8 lblData">
                                @*<input type="number" class="form-control input-sm" name="VoluntaryProvidentFund" value="0.00" />*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">Medical Insurance</label>
                            <div class="col-sm-8 lblData">
                                @*<input type="number" class="form-control input-sm" name="MedicalInsurance" value="0.00" />*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 horizontal-label">GOSI Deduction</label>
                            <div class="col-sm-8 lblData">
                                @*<input type="number" class="form-control input-sm" name="GosiDeduction" value="0.00" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
            </div>
        </div>
    </div>
</form>

@section scripts{

    <script src="~/Scripts/Input Mask/amazonawsjQuery.inputmask.js"></script>
    <script src="~/Scripts/App/Hrms.js"></script>
    <script src="~/Scripts/select2/select2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".cnic").inputmask();
            $(".select2").select2();
            //$('#Region,#Center').selectpicker({
            //    liveSearch: true
            //    //showSubtext: true
            //});
            var selectedValDesignation = '';
            var selectedValCenter = '';

            $("ul#sampleTabs li a").addClass('inactiveNav');
            $("ul#sampleTabs li.active a").removeClass('inactiveNav');
            $("ul#sampleTabs li.active a").addClass('activeNav');

            $("ul#sampleTabs li a").on('click', function () {
                //debugger;
                //alert($(this).attr('id'));
                $("ul#sampleTabs li a").addClass('inactiveNav');
                $(this).removeClass('activeNav');
                $(this).removeClass('inactiveNav');
                $(this).addClass('activeNav');
            });

            //$('#Region').on('select2:select', function (e) {
            //    var data = e.params.data;
            //    console.log(data);
            //});

            $('#RegionId').change(function () {
                //debugger;
                const urltoPost = '@Url.Action("GetCentersByRegionId", "Employee")';
                const Id = $('#RegionId option:selected').attr('value');
                const ddlId = $('#CenterId');
                bindDropdown(ddlId, urltoPost, Id, selectedValCenter);
            });

            $('#DepartmentId').change(function () {
                //debugger;
                const urltoPost = '@Url.Action("GetDesignationsByDepartId", "Employee")';
                const Id = $('#DepartmentId option:selected').attr('value');
                const ddlId = $('#DesignationId');
                bindDropdown(ddlId, urltoPost, Id, selectedValDesignation);
            });

            //-- Edit Mode Trigger -//
            //debugger
            if ('@queryId' != '' && '@Model.DesignationId' != '') {
                //debugger;
                selectedValDesignation = '@Model.DesignationId';
                $('#DepartmentId').val('@Model.DepartmentId').trigger('change');

                selectedValCenter = '@Model.CenterId';
                $('#RegionId').val('@Model.RegionId').trigger('change');
            }

            //-- Only Mode Trigger -//
            if ('@ViewData["IsView"]' != '') {
                var $S1 = $("select[class=select2]");
                $S1.attr("readonly", "readonly");

                $("input").attr("readonly", true);
                $("select").attr("disabled", true);
                $("textarea").attr("readonly", true);
                $("#txtIsActive").attr("disabled", true);
                $("#submit").hide();
            }

        });

        $(function () {
            //debugger;
            $("#lead-frm").validate({
                rules: {
                    Email: {
                        remote: {
                            url: "@Url.Action("CheckDuplicateEmail", "Employee", new { Area = "HRMS" })",
                            type: "post",
                            data: {
                                Email: function () {
                                    return $("#CNIC").val();
                                },
                                Id: function () {
                                    return $("#EmployeeId").val();
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
}
<style>
    .empStatus {
        background: #abc7e0 !important;
        color: white;
    }

    .lblData {
        margin-top: 5px !important;
    }
</style>