@model Ecommerce.Entity.PostcodeModel
@{
    //var Src = (Model.ShippingCompanyId != 0 ? "../../../Content/Uploads/Ecommerce/sc_" + Model.ShippingCompanyId + ".jpg" : "");
}

<form id="frm" class="form-Modal" method="post" action="~/Secure/Ecommerce/ShippingPostcodeRecord" >
    <div class="modal-content">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Shipping Postcode</h4>
        </div>
        <div class="modal-body">
            <div class="row form-group">
                <label class="col-sm-3 horizontal-label">Postcode</label>
                <div class="col-sm-8">
                    <input id="Postcode" name="Postcode" type="text" class="form-control input-sm" value="@Model.Postcode" required />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 horizontal-label">Restriction Level</label>
                <div class="col-sm-8">
                    @Html.DropDownList("RestrictionLevels", new SelectList(ViewBag.RestrictionLevel, "value", "text"), new { @class = "form-control input-sm", @required = "required" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 horizontal-label">First Item Price</label>
                <div class="col-sm-8">
                    <input id="FirstItemPrice" name="FirstItemPrice" type="number" class="form-control input-sm" value="@Model.FirstItemPrice"/>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 horizontal-label">Each Additional Item Price</label>
                <div class="col-sm-8">
                    <input id="EachAdditionalItemPrice" name="EachAdditionalItemPrice" type="number" class="form-control input-sm" value="@Model.EachAdditionalItemPrice" />
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
</form>