@model BaseApp.Entity.AppUserPermissions
@{
    var allRoles = ViewBag.AllRoles as List<AppRole>;
}
<style>
    .setpadding {
        margin-bottom: 10px !important;
    }

    .pnlHeading {
        padding: 5px 10px !important;
    }
</style>
<link href="~/Content/Settings.css" rel="stylesheet" />
<link href="~/Content/Bootstrap Switch/bootstrap-switch.css" rel="stylesheet" />
<link href="~/Content/materialDesignSwitch.css" rel="stylesheet" />

<form id="frm" class="form-Modal" method="post" action="~/Secure/AccessControl/_ManageAccess">
    <div class="modal-content">
        @Html.AntiForgeryToken()
        <input id="UserId" type="hidden" name="UserId" value="@Model.UserId" />
        <input id="RoleId" type="hidden" name="RoleId" value="@Model.RoleId" />
        <input id="RolePermissions" type="hidden" name="Permissions" value="@Model.Permissions" />
        <input id="returnUrl" type="hidden" name="returnUrl" value="~/Secure/AccessControl/Index" />

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Manage Access</h4>
        </div>
        <div class="modal-body chk-modal" style="padding:0px !important; overflow-y: scroll; height: 450px;">
            <div class="col-sm-12">
                <div class="row">
                    @*<div class="col-md-4">
                        <div class="form-group">
                            <label>Role</label>
                            <select name="RoleId" class="form-control input-sm" required autofocus>
                                @foreach (var x in allRoles)
                                {
                                    <option value="@x.Id" @(Model.RoleId == x.Id ? "selected" : "")>@x.Code @x.Title</option>
                                }
                            </select>
                        </div>
                    </div>*@
                    <div class="col-md-3">
                        <div class="form-group">
                            <h3>Roles</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                                @foreach (var x in allRoles)
                                {
                                    <div class="checkbox">
                                        <label style="font-size: 1em">
                                            <input type="checkbox" value="@x.Id" class="checkthis">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            @x.Title
                                        </label>
                                    </div>
                                }
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend style="font-size:15px; font-weight:bold;">Permissions</legend>
                        </fieldset>
                        <div class="row">
                            @if (AppModule.GetById("TaskManager").Status)
                            {
                                <div class="col-md-4">
                                    <!-- Start Module -->
                                    <fieldset>
                                        <legend class="no-margin" style="font-size:13px;">Task Management</legend>
                                    </fieldset>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-TaskManagement" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.TaskManagement) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.TaskManagement) ? "checked" : "") : "") />
                                                <input id="role-TaskManagement" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.TaskManagement) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.TaskManagement" />
                                            </span>
                                            <h6 class="list-group-item-heading">Task Management</h6>
                                            <small style="font-size:11px;">Choose whether this role will have the permission to view and manage tasks.</small>
                                        </li>
                                    </ul>
                                    <!-- End Module -->
                                </div>
                            }
                            <div class="col-md-4">
                                <!-- Start Module -->
                                <fieldset>
                                    <legend class="no-margin" style="font-size:13px;">Logs Management</legend>
                                </fieldset>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-GeneralLog" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.LogsManagement) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.LogsManagement) ? "checked" : "") : "") />
                                            <input id="role-GeneralLog" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.LogsManagement) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.LogsManagement" />
                                        </span>
                                        <h6 class="list-group-item-heading">Logs Management</h6>
                                        <small style="font-size:11px;">Choose whether this role will have the permission to view and manage logs.</small>
                                    </li>
                                </ul>
                                <!-- End Module -->
                            </div>
                            <div class="col-md-4">
                                <!-- Start Module -->
                                <fieldset>
                                    <legend class="no-margin" style="font-size:13px;">Report</legend>
                                </fieldset>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-Report" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Report) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Report) ? "checked" : "") : "") />
                                            <input id="role-Report" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Report) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.Report" />
                                        </span>
                                        <h6 class="list-group-item-heading">Report</h6>
                                        <small style="font-size:11px;">Choose whether this role will have the permission to manage reports.</small>
                                    </li>
                                </ul>
                                <!-- End Module -->
                            </div>
                            <div class="col-md-4">
                                <!-- Start Module -->
                                <fieldset>
                                    <legend class="no-margin" style="font-size:13px;">Contact</legend>
                                </fieldset>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-ViewContact" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewContact) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewContact) ? "checked" : "") : "") />
                                            <input id="role-ViewContact" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewContact) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.ViewContact" />
                                        </span>
                                        <h6 class="list-group-item-heading" style="margin-top:5px;">View Contact</h6>
                                        <hr style="margin-bottom:15px;" />
                                        <span class="pull-right">
                                            <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-Contact" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Contact) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Contact) ? "checked" : "") : "") />
                                            <input id="role-Contact" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Contact) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.Contact" />
                                        </span>
                                        <h6 class="list-group-item-heading" style="margin-top:20px;">Control Contact</h6>
                                        <hr style="margin-bottom:15px;" />
                                        <small style="font-size:11px;">Choose whether this role will have the permission to control or view contact.</small>
                                    </li>
                                </ul>
                                <!-- End Module -->
                            </div>
                            @if (AppModule.GetById("CMS").Status)
                            {
                                <div class="col-md-4">
                                    <!-- Start Module -->
                                    <fieldset>
                                        <legend class="no-margin" style="font-size:13px;">Content Management</legend>
                                    </fieldset>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-ViewCMS" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewCMS) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewCMS) ? "checked" : "") : "") />
                                                <input id="role-ViewCMS" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewCMS) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.ViewCMS" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:5px;">View Content Management</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-CMS" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.CMS) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.CMS) ? "checked" : "") : "") />
                                                <input id="role-CMS" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.CMS) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.CMS" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:20px;">Control Content Management</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <small style="font-size:11px;">Choose whether this role will have the permission to control or view content management.</small>
                                        </li>
                                    </ul>
                                    <!-- End Module -->
                                </div>
                            }
                            @if (AppModule.GetById("Ecommerce").Status)
                            {
                                <div class="col-md-4">
                                    <!-- Start Module -->
                                    <fieldset>
                                        <legend class="no-margin" style="font-size:13px;">Ecommerce Management</legend>
                                    </fieldset>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-ViewEcommerce" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewEcommerce) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewEcommerce) ? "checked" : "") : "") />
                                                <input id="role-ViewEcommerce" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewEcommerce) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.ViewEcommerce" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:5px;">View Ecommerce Management</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-Ecommerce" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Ecommerce) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Ecommerce) ? "checked" : "") : "") />
                                                <input id="role-Ecommerce" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.Ecommerce) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.Ecommerce" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:20px;">Control Ecommerce Management</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <small style="font-size:11px;">Choose whether this role will have the permission to control or view Ecommerce management.</small>
                                        </li>
                                    </ul>
                                    <!-- End Module -->
                                </div>
                            }
                            @if (AppModule.GetById("Employees").Status)
                            {
                                <div class="col-md-4">
                                    <!-- Start Module -->
                                    <fieldset>
                                        <legend class="no-margin" style="font-size:13px;">Employee Management</legend>
                                    </fieldset>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-ViewHRM" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewHRM) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewHRM) ? "checked" : "") : "") />
                                                <input id="role-ViewHRM" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewHRM) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.ViewHRM" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:5px;">View Employee Management</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-HRM" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.HRM) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.HRM) ? "checked" : "") : "") />
                                                <input id="role-HRM" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.HRM) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.HRM" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:20px;">Control Employee Management</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <small style="font-size:11px;">Choose whether this role will have the permission to control or view Employee management.</small>
                                        </li>
                                    </ul>
                                    <!-- End Module -->
                                </div>
                            }
                            @if (AppModule.GetById("CRM").Status)
                            {
                                <div class="col-md-4">
                                    <!-- Start Module -->
                                    <fieldset>
                                        <legend class="no-margin" style="font-size:13px;">CRM</legend>
                                    </fieldset>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-ViewCRM" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewCRM) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewCRM) ? "checked" : "") : "") />
                                                <input id="role-ViewCRM" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewCRM) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.ViewCRM" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:5px;">View CRM</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-CRM" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.CRM) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.CRM) ? "checked" : "") : "") />
                                                <input id="role-CRM" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.CRM) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.CRM" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:20px;">Control CRM</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <small style="font-size:11px;">Choose whether this role will have the permission to control or view CRM.</small>
                                        </li>
                                    </ul>
                                    <!-- End Module -->
                                </div>
                            }

                            @if (AppModule.GetById("DMS").Status)
                            {
                                <div class="col-md-4">
                                    <!-- Start Module -->
                                    <fieldset>
                                        <legend class="no-margin" style="font-size:13px;">DMS</legend>
                                    </fieldset>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-ViewDMS" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewDMS) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewDMS) ? "checked" : "") : "") />
                                                <input id="role-ViewDMS" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.ViewDMS) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.ViewDMS" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:5px;">View DMS</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <span class="pull-right">
                                                <input type="checkbox" class="switch-Role" data-size="mini" data-id="role-DMS" value="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.DMS) ? "true" : "false") : "false")" @(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.DMS) ? "checked" : "") : "") />
                                                <input id="role-DMS" type="hidden" class="@(Model.Permissions != null ? (Model.PermissionsList.Any(x => x == BaseApp.Entity.AppPermission.DMS) ? "role-Permission" : "") : "")" value="@BaseApp.Entity.AppPermission.DMS" />
                                            </span>
                                            <h6 class="list-group-item-heading" style="margin-top:20px;">Control DMS</h6>
                                            <hr style="margin-bottom:15px;" />
                                            <small style="font-size:11px;">Choose whether this role will have the permission to control or view DMS.</small>
                                        </li>
                                    </ul>
                                    <!-- End Module -->
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/Bootstrap Switch/bootstrap-switch.js"></script>
<script src="~/Scripts/BaseApp.js"></script>
<script>
    $(document).ready(function () {
        $("[class='switch-Role']").bootstrapSwitch();
        $('.switch-Role').on('switchChange.bootstrapSwitch', function (event, state) {
            var getAttr = $(this).attr('data-id');

            if (state) {
                $("#" + getAttr).addClass('role-Permission');
            }
            else {
                $("#" + getAttr).removeClass('role-Permission');
            }

            var rolePermission = '';
            $(".role-Permission").each(function () {
                var value = $(this).val();
                rolePermission += value + ',';
                document.getElementById("RolePermissions").value = rolePermission;
            });
        });
    });
</script>