@model List<CMS.Entity.CmsNews>
@{
    ViewBag.Title = "All News";
}

<div class="form-Modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewBag.Title</h4>
            <div class="btn-group btn-group-xs" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <a href="javascript://" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiple")', '.checkIt')" class="btn btn-danger forceRedirect"><i class="fa fa-trash"></i> Delete</a>
                <a href="~/CMS/WebNews/Record" class="btn btn-primary"><i class="fa fa-plus"></i> Add New News</a>
            </div>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table id="cms-News-dataTable" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th><input type="checkbox" onchange="checkAll(this, 'checkIt')" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Date" id="dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Title" id="dataTable_1" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Status" id="dataTable_2" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Updated" id="dataTable_3" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Created" id="dataTable_4" /></th>
                            <th class="text-center" width="100px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var x in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="checkIt" value="@x.Id" /></td>
                                <td>@x.DateTime.ToShortDateString()</td>
                                <td>@x.Title</td>
                                <td>
                                    @if (x.Status == CMS.Entity.CmsNewsStatus.Published)
                                    {
                                        <label class="label label-success">Published</label>
                                    }
                                    else
                                    {
                                        <label class="label label-warning">Draft</label>
                                    }
                                </td>
                                <td>@x.UpdatedOn</td>
                                <td>@x.CreatedOn</td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs" role="group">
                                        <a href="~/CMS/WebNews/Record/@x.Id" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="javascript://" onclick="changeStatus('@Url.Action("ChangeNewsStatus")', '@x.Id')" class="btn @(x.Status == CMS.Entity.CmsNewsStatus.Published ? "btn-warning" : "btn-success")" title="@(x.Status == CMS.Entity.CmsNewsStatus.Published ? "Draft Now" : "Publish Now")"><i class="fa @(x.Status == CMS.Entity.CmsNewsStatus.Published ? "fa-ban" : "fa-check")"></i></a>
                                        <a href="javascript://" onclick="deleteRecord('@Url.Action("Delete")', '@x.Id')" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <a href="javascript://" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiple")', '.checkIt')" class="btn btn-danger forceRedirect"><i class="fa fa-trash"></i> Delete</a>
                <a href="~/CMS/WebNews/Record" class="btn btn-primary"><i class="fa fa-plus"></i> Add New News</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            filterDataTable("#cms-News-dataTable", [1, 2, 3, 4, 5], [0, 6]);
            getCmsNews("#cms-News-dataTable");
        });
    </script>
}